In [5]:
# Read the data into a Pandas DataFrame
merged_data_countries = pd.read_json('Resources/countries-data.json')
merged_data_countries.head()

,Country Name,Country Code,Year,GDP_per_capita,GINI_index,Health_spending_per_capita
0,Argentina,ARG,2002,2569.699635,53.8,222.647507
1,Armenia,ARM,2002,742.651118,34.8,58.000000
2,Austria,AUT,2002,26334.862215,NaN,2498.000000
3,Belgium,BEL,2002,25006.191397,NaN,2084.719971
4,Bulgaria,BGR,2002,2092.982886,NaN,148.000000

In [11]:
merged_data_countries.dtypes

Country Name                   object
Country Code                   object
Year                            int64
GDP_per_capita                float64
GINI_index                    float64
Health_spending_per_capita    float64
dtype: object

In [1]:
import pandas as pd

# Step 1: Load all 3 cleaned datasets
gdp = pd.read_csv("ResourcesD:/project3/GDP-per-capita-project/Cleaned_data/gdp_clean.csv")
gini = pd.read_csv("D:/project3/GDP-per-capita-project/Cleaned_data/gini_clean.csv")
health = pd.read_csv("D:/project3/GDP-per-capita-project/Cleaned_data/health_clean.csv")

# Quick preview
print("GDP shape:", gdp.shape)
print("GINI shape:", gini.shape)
print("Health shape:", health.shape)

GDP.head()

FileNotFoundError: [Errno 2] No such file or directory: 'ResourcesD:/project3/GDP-per-capita-project/Cleaned_data/gdp_clean.csv'

In [3]:
# Step 2a: Convert GDP from wide to long format
gdp_long = gdp.melt(id_vars=['Country Name', 'Country Code'], 
                    var_name='Year', 
                    value_name='GDP_per_capita')

gdp_long.head()

                  Country Name Country Code  Year  GDP_per_capita
0                        Aruba          ABW  2002    21307.248251
1  Africa Eastern and Southern          AFE  2002      625.998815
2                  Afghanistan          AFG  2002      178.954088
3   Africa Western and Central          AFW  2002      616.796033
4                       Angola          AGO  2002      882.147847

In [5]:
# Step 2b: Convert GINI from wide to long format
gini_long = gini.melt(id_vars=['Country Name', 'Country Code'], 
                      var_name='Year', 
                      value_name='GINI_index')

gini_long.head()

  Country Name Country Code  Year  GINI_index
0    Argentina          ARG  2002        53.8
1      Armenia          ARM  2002        34.8
2      Austria          AUT  2002         NaN
3      Belgium          BEL  2002         NaN
4     Bulgaria          BGR  2002         NaN

In [7]:
# Step 2c: Convert Health Spending from wide to long format
health_long = health.melt(id_vars=['Country Name', 'Country Code'], 
                          var_name='Year', 
                          value_name='Health_spending_per_capita')

health_long.head()

                  Country Name Country Code  Year  Health_spending_per_capita
0  Africa Eastern and Southern          AFE  2002                   35.190150
1                  Afghanistan          AFG  2002                   17.007586
2   Africa Western and Central          AFW  2002                   21.827682
3                       Angola          AGO  2002                   29.054800
4                      Albania          ALB  2002                   78.994781

In [9]:
# Step 3: Merge GDP with GINI
gdp_gini_merged = pd.merge(gdp_long, gini_long, 
                           on=['Country Name', 'Country Code', 'Year'], 
                           how='inner')

# Then merge with Health
final_merged = pd.merge(gdp_gini_merged, health_long, 
                        on=['Country Name', 'Country Code', 'Year'], 
                        how='inner')

# Preview the merged dataset
print("Final merged shape:", final_merged.shape)
final_merged.head()

Final merged shape: (1113, 6)

,Country Name,Country Code,Year,GDP_per_capita,GINI_index,Health_spending_per_capita
0,Argentina,ARG,2002,2569.699635,53.8,222.647507
1,Armenia,ARM,2002,742.651118,34.8,58.000000
2,Austria,AUT,2002,26334.862215,NaN,2498.000000
3,Belgium,BEL,2002,25006.191397,NaN,2084.719971
4,Bulgaria,BGR,2002,2092.982886,NaN,148.000000

In [11]:
# Step 4: Save the final merged dataset
output_path = "D:/project3/GDP-per-capita-project/Cleaned_data/merged_data_2002_2022.csv"
final_merged.to_csv(output_path, index=False)

print("Merged dataset saved to:", output_path)

Merged dataset saved to: D:/project3/GDP-per-capita-project/Cleaned_data/merged_data_2002_2022.csv