In [1]:
import pandas as pd

# Step 1: Load the Health Spending per Capita raw data
health_path = "D:/project3/GDP-per-capita-project/Resources/health-expenditure-raw/API_SH.XPD.CHEX.PC.CD_DS2_en_csv_v2_13425.csv"
health_df = pd.read_csv(health_path, skiprows=4)

# Preview the first few rows
health_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,93.889833,88.835308,93.106458,93.222292,90.334281,81.969193,93.053627,NaN,NaN,NaN
2,Afghanistan,AFG,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,60.058540,61.486458,66.909218,71.334305,74.234108,80.288055,81.319763,NaN,NaN,NaN
3,Africa Western and Central,AFW,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,71.938048,62.715816,60.835189,59.561036,61.997588,64.798255,73.120225,NaN,NaN,NaN
4,Angola,AGO,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,107.643562,94.106155,112.851471,83.899200,64.657791,55.051022,64.163422,NaN,NaN,NaN

In [3]:
# Step 2: Keep 'Country Name', 'Country Code', and years 2002 to 2022
columns_to_keep = ['Country Name', 'Country Code'] + [str(year) for year in range(2002, 2023)]
health_clean_df = health_df[columns_to_keep]

# Preview the cleaned columns
health_clean_df.head()

,Country Name,Country Code,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,35.190150,50.592201,62.276579,69.216081,75.814195,84.979965,87.362132,90.950427,...,108.350669,101.888158,93.889833,88.835308,93.106458,93.222292,90.334281,81.969193,93.053627,NaN
2,Afghanistan,AFG,17.007586,17.814924,21.429464,25.107073,28.919823,32.717205,39.969898,43.260769,...,56.305542,60.189579,60.058540,61.486458,66.909218,71.334305,74.234108,80.288055,81.319763,NaN
3,Africa Western and Central,AFW,21.827682,33.609523,38.080777,43.564714,50.114015,54.106308,62.351567,56.864966,...,77.408937,80.329089,71.938048,62.715816,60.835189,59.561036,61.997588,64.798255,73.120225,NaN
4,Angola,AGO,29.054800,34.869678,49.776299,54.212357,69.769226,92.841118,135.631531,120.031509,...,142.886169,130.742340,107.643562,94.106155,112.851471,83.899200,64.657791,55.051022,64.163422,NaN

In [5]:
# Step 3: Drop rows with fewer than 14 valid values
health_clean_df = health_clean_df.dropna(thresh=14)

# Show how many countries are left
print("Number of countries after cleaning:", len(health_clean_df))
health_clean_df.head()

Number of countries after cleaning: 233

,Country Name,Country Code,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,Africa Eastern and Southern,AFE,35.190150,50.592201,62.276579,69.216081,75.814195,84.979965,87.362132,90.950427,...,108.350669,101.888158,93.889833,88.835308,93.106458,93.222292,90.334281,81.969193,93.053627,NaN
2,Afghanistan,AFG,17.007586,17.814924,21.429464,25.107073,28.919823,32.717205,39.969898,43.260769,...,56.305542,60.189579,60.058540,61.486458,66.909218,71.334305,74.234108,80.288055,81.319763,NaN
3,Africa Western and Central,AFW,21.827682,33.609523,38.080777,43.564714,50.114015,54.106308,62.351567,56.864966,...,77.408937,80.329089,71.938048,62.715816,60.835189,59.561036,61.997588,64.798255,73.120225,NaN
4,Angola,AGO,29.054800,34.869678,49.776299,54.212357,69.769226,92.841118,135.631531,120.031509,...,142.886169,130.742340,107.643562,94.106155,112.851471,83.899200,64.657791,55.051022,64.163422,NaN
5,Albania,ALB,78.994781,106.292183,138.113403,152.127625,166.813828,212.610962,240.416260,239.443863,...,278.042511,295.123596,255.356354,277.043213,297.461975,351.301208,367.758392,396.880249,464.742859,NaN

In [7]:
# Step 4: Save cleaned Health Spending data
output_path = "D:/project3/GDP-per-capita-project/Cleaned_data/health_clean.csv"
health_clean_df.to_csv(output_path, index=False)

print("Cleaned Health Spending data saved to:", output_path)

Cleaned Health Spending data saved to: D:/project3/GDP-per-capita-project/Cleaned_data/health_clean.csv